{% extends "base.html.twig" %}

{% block title %}
Panier
{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/cart.css") }}">{% endblock %}


{% block body %}

<section class="cart">

        {% if items is empty %}
            <p>Votre panier est vide</p>
            <a href="{{ path("index") }}" class="btn">Retour à l'accueil</a>
        {% else %}

        <div class="cart">                
               <table>
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row"><a href="{{ path('item', {id: item.product.id})}}"><img src="{{ vich_uploader_asset(item.product, 'imageFile1') }}" alt=""></a></th>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }} €</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }} €</td>
                        <td>
                            <a href="{{ path("cart_add", {id: item.product.id})}}" class="btn">+1</a>
                            <a href="{{path('cart_remove', {id: item.product.id})}}" class="btn">-1</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                    <tfoot>
                        <tr>
                            <th scope="row"></th>
                                <td colspan="4">{{total}} € <small>(TTC)</small></td>
                                <td><a href="{{ path('payment_checkout') }}" class="btn"><i class="fa-regular fa-credit-card"></i> Payer</a></td>
                            
                        </tr>
                    </tfoot>
            </table> 
        </div>
            <div>
                <a class="btn" href="{{ path('cart_all_delete') }}">Vider le panier</a>
            </div>
            {% endif %}
        </section>

{% endblock %}
