{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset("css/login.css")}}">
{% endblock %}

{% block title %}Se Connecter{% endblock %}


{% block header %}

{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <section class="login">
        <h1>Se connecter</h1>

        <div class="identification">
            <label for="inputEmail">Email : </label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

            <div class="input">
                <input type="submit" value="Se connecter" class="btn"/>
            </div>

        </div>

    <div class="register">
        Pas encore inscrit ? Cliquez <a href="{{path("register")}}">ici</a>
    </div>

    <section>
</form>
{% endblock %}
