{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset("css/register.css")}}">
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<section class="register">
    <h1>S'inscrire</h1>

    <div class="form">
        {{ form_start(registrationForm) }}

            <div class="name">
                {{ form_row(registrationForm.firstName, {
                    label: 'Prénom : '
                }) }}
                {{ form_row(registrationForm.lastName, {
                    label: 'Nom : '
                }) }}
            </div>
            <div class="personal">
                {{ form_row(registrationForm.email, {
                    label: 'Email : '
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe : '
                }) }}
            </div>
            <div class="phone">
                {{ form_row(registrationForm.phone, {
                    label: 'Téléphone : '
                }) }}
            </div>

            
            <div class="input">
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Accepter nos conditions'
                }) }}
                <input type="submit" value="S'inscrire" class="btn"/>
            </div>
            
            
        {{ form_end(registrationForm) }}

    </div>

    <div class="login">
        Déjà incrit ? Cliquez <a href="{{path("login")}}">ici</a>
    </div>
    <div class="terms">
                Pour plus d'informations sur nos conditions d'utilisations ? Cliquez <a href="">ici</a>
    </div>
</section>
{% endblock %}
