{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset("css/item.css")}}">
{% endblock %}

{% block header %}
        <div>
            <h1>{{ item.name }}</h1>
            <p>{{ item.category.name }}</p>
        </div>
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <section class="admin">
            <div>
                <a href="{{ path("admin_product_update", {id: item.id}) }}" class="btn" >Modifier</a>
                <a href="{{ path("admin_product_delete", {id: item.id}) }}" class="btn btn-red" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')"/>Supprimer</a>
            </div>
        </section>
    {% endif %}

        <section class="product">

            <div class="images">

                <div class="img-first">
                    <img src="{{ vich_uploader_asset(item, 'imageFile1') }}" alt="{{ item.name }}" class="img-p">
                </div>

                {% if item.imageName2 %}

                <div class="img-second">
                    <div>
                        <img src="{{ vich_uploader_asset(item, 'imageFile1') }}" alt="{{ item.name }}" class="img">
                    </div>

                    <div>
                        <img src="{{ vich_uploader_asset(item, 'imageFile2') }}" alt="{{ item.name }}" class="img">
                    </div>
                {% if item.imageName3 %}
                    <div>
                        <img src="{{ vich_uploader_asset(item, 'imageFile3') }}" alt="{{ item.name }}" class="img">
                    </div>
                {% endif %}

                </div>

                {% endif %}

            </div>

            <div class="content">

                <div>
                    <div class="top">
                        <h2>{{ item.name  }}</h2>
                        <i class="fa-regular fa-heart click"></i>
                    </div>
                    <div class="note">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span>{{ item.price }} €</span>
                    <p>{{ item.description }}</p>
                </div>
                
                {% if item.size %}
                <div class="height">

                    <h3>Taille :</h3>

                    <div>
                    {% if item.size.name == "small" %}
                        <div class="tooltip">
                            S
                            <span class="tooltiptext">5cm</span>
                        </div>
                    {% elseif item.size.name == "medium" %}
                        <div class="tooltip">
                            M
                            <span class="tooltiptext">15cm</span>
                        </div>
                    {% else %}
                        <div class="tooltip">
                            L
                            <span class="tooltiptext">20cm</span>
                        </div>
                    {% endif %}
                    </div>

                </div>
                
                <div class="height-mobile">

                    <h3>Taille :</h3>

                    <div>
                    {% if item.size.name == "small" %}
                        <div>
                            S
                            <span>5cm</span>
                        </div>
                    {% elseif item.size.name == "medium" %}
                        <div>
                            M
                            <span>10cm</span>
                        </div>
                    {% else %}
                        <div>
                            L
                            <span>20cm</span>
                        </div>
                    {% endif %}
                    </div>

                </div>

                {% endif %}

                <div class="add">
                    {% if item.stock > 0 %}
                        <a href="{{ path("cart_add", {id: item.id})}}" class="btn" >Ajouter au panier</a>
                    {% else %}
                        <p class="btn-disabled" >Rupture de stock</p>
                    {% endif %}
                </div>

            </div>

 
        </section>

        <section class="comments">
            
            <h2>Votre avis compte</h2>

            <div class="flex">
                <div class="contents">
    
                    <div class="content">
                        <div>
                            <div class="note">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                                 - utilisateur
                            </div>
            
                            <span>date</span>
                        </div>
        
                        <p>Lorem ipsum dolor sit amet consectetur landitiis eveniet. Omnis commodi ad </p>
        
                    </div>
                    <div class="content">
                        <div>
                            <div class="note">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                                - anonyme
                            </div>
            
                            <span>date</span>
                        </div>
        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas impedit praesentium repellat, harum of reprehenderit corrupti sunt incidunt, eaque labore dicta molestiae voluptas.</p>
        
                    </div>
                    <div class="content">
                        <div>
                            <div class="note">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                                - utilisateur
                            </div>
            
                            <span>date</span>
                        </div>
        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas impedit praesentium repellat, harum officiis libero reprehenderit. Ex, iste consectetur omnis ad voluptatem blanditiis eveniet. Omnis commodi ad voluptate officia totam, provident iusto reprehenderit corrupti sunt incidunt, eaque labore dicta molestiae voluptas.</p>
        
                    </div>
                </div>
    
                <div class="form">
                    <h3>Donnez-nous votre avis :</h3>
                    <form>
                        <div>
                            <textarea name="comment" id="comment" cols="45" rows="10" placeholder="Votre commentaire..."></textarea>
                            <div>
                                <label for="user">Restez anonyme ?</label>
                                <input type="checkbox" name="user" id="user">
                            </div>
                        </div>
                        
                        <div class="submit">
                            <a href="" type="submit" class="btn">Envoyer</a>
                        </div>
                    </form>
                </div>
            </div>



        </section>

        <section class="others">

            <h2>Voir aussi...</h2>

            <div class="items">
                <div class="item">
                    <div class="image">
                        <a href=""><img src="{{ asset("img/monstera-delisiosa.jpg")}}" alt="monstera delisiosa"></a>
                        
                    </div>
                    <div class="descriptif">
                        <div>
                            <h3>Monstera Delisiosa</h3>
                            <i class="fa-regular fa-heart click"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div>
                            <span>15 €</span>
                            <a href="" class="btn">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <a href=""><img src="{{ asset("img/monstera-delisiosa.jpg")}}" alt="monstera delisiosa"></a>
                        
                    </div>
                    <div class="descriptif">
                        <div>
                            <h3>Monstera Delisiosa</h3>
                            <i class="fa-regular fa-heart click"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div>
                            <span>15 €</span>
                            <a href="" class="btn">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <a href=""><img src="{{ asset("img/monstera-delisiosa.jpg")}}" alt="monstera delisiosa"></a>
                        
                    </div>
                    <div class="descriptif">
                        <div>
                            <h3>Monstera Delisiosa</h3>
                            <i class="fa-regular fa-heart click"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div>
                            <span>15 €</span>
                            <a href="" class="btn">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <a href=""><img src="{{ asset("img/monstera-delisiosa.jpg")}}" alt="monstera delisiosa"></a>
                        
                    </div>
                    <div class="descriptif">
                        <div>
                            <h3>Monstera Delisiosa</h3>
                            <i class="fa-regular fa-heart click"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div>
                            <span>15 €</span>
                            <a href="" class="btn">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>


{% endblock %}

 
{% block script %}<script src={{ asset("js/item.js")}}></script>{% endblock %}