{% extends "base.html.twig" %}

{% block title %}
Contact
{% endblock %}

{% block header %}
{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/formContact.css") }}">{% endblock %}

{% block body %}

    <section class="contact">
        <h1>Formulaire de contact</h1>
        {{ form_start(contactForm) }}
            <div class="form">
                <div class="top">
                    <div>
                        {{ form_row(contactForm.email) }}
                    </div>
                    <div>
                        {{ form_row(contactForm.object, {label: "Sujet"}) }}
                    </div>
                </div>
                <div class="message">
                    {{ form_row(contactForm.message) }}
                </div>
            
                <div class="input">
                    <input type="submit" value="Envoyer" class="btn btn-success mt-4 mb-4"/>
                </div>
            </div>
        {{ form_end(contactForm) }}
    </section>

{% endblock %}
