<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("css/style.css")}}">
    {% block css %}{% endblock %}
</head>
<body>


    <!-- NAVBAR -->
    <header>
        <nav>
            <ul class="logo">
                <li><a href="{{path("index")}}">MaPlante</a></li>
            </ul>
            <ul class="liens">
                <li><a href="{{path("index")}}">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Wishlist</a></li>
                <li><i class="fa-solid fa-bag-shopping"></i></li>
                <li><a href="{{path("register")}}"><i class="fa-solid fa-user"></i></a></li>
            </ul>
            <ul class="burger">
                <li><i class="fa-solid fa-bars"></i></li>
            </ul>
        </nav>
        {% block header %}
        {% endblock %}
    </header>
    

    <!-- MAIN -->
    <main>
        {% block body %} 

        {% endblock %}
    </main>


    <!-- FOOTER -->
    <footer>
        <nav>
                <ul>
    
                    <li>
                        <h5><a href="#">Plantes</a></h5>
                    </li>
                    <li><a href="#">Baby plantes</a></li>
                    <li><a href="#">Moyennes plantes</a></li>
                    <li><a href="#">Grandes plantes</a></li>
                    <li><a href="#">Sauvetage</a></li>
    
                </ul>
    
                <ul>
    
                    <li>
                        <h5><a href="#">Jardinage</a></h5>
                    </li>
                    <li><a href="#">Pots</a></li>
                    <li><a href="#">Outils</a></li>
                    <li><a href="#">Engrais</a></li>
                    <li><a href="#">Subtrats</a></li>
    
                </ul>
                <ul>
    
                    <li>
                        <h5><a href="#contact">Contact</a></h5>
                    </li>
                    <li>
                        <a href="#about">A propos de nous</a>
                    </li>
    
                    <li>
                        <a href="mailto:mail@gmail.com">mail@gmail.com</a>
                    </li>
    
                </ul>
    
                <ul>
    
                    <li>
                        <h5>Réseaux Sociaux</h5>
                    </li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Facebook</a></li>
    
                </ul>
    
    
                <ul>
    
                    <li>
                        <h5><a href="#">Informations</a></h5>
                    </li>
                    <li><a href="">CGV</a></li>
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="">Cookies</a></small></li>
    
                </ul>
                
            </nav>
    
            <small>Copyrights &copy; Mon site</small>
    </footer>
    
    <script src={{ asset("js/script.js")}}></script>
    {% block script %}{% endblock %}


</body>
</html>