<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("css/style.css")}}">
    {% block css %}{% endblock %}
</head>
<body>


    <!-- NAVBAR -->
    <header>
        <nav>
            <ul class="logo">
                <li><a href="{{path("index")}}">MaPlante</a></li>
            </ul>
            <ul class="liens">
                <li><a href="{{path("index")}}">Home</a></li>
                <li><a href="{{path("item")}}">Shop</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Wishlist</a></li>
                <li><a href="{{path("cart")}}"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="{{path("register")}}"><i class="fa-solid fa-user"></i></a></li>
            </ul>
            <ul class="burger">
                <li><i class="fa-solid fa-bars"></i></li>
            </ul>
        </nav>
        {% block header %}
        <div>
            <h1>MaPlante</h1>
            <p>Pour une vie plus verte</p>
        </div>
        {% endblock %}
    </header>
    

    <!-- MAIN -->
    <main>
        {% block body %} 

        {% endblock %}
        <div class="anchor">
            <a href="#top"><img src="{{ asset("img/arrow.png")}}" alt=""></a>
            
        </div>
    </main>


    <!-- FOOTER -->
    <footer>


        <div class="footer-1">

            <div class="logo">
                <img src="img/logo.png" alt="LOGO">
                <!-- <a href="">MaPlante</a> -->
            </div>

            <div>
                <h5>BOUTIQUE</h5>
                <ul>
                    <li><a href="#">Plantes</a></li>
                    <li><a href="#">Jardinage</a></li>
                    <li><a href="#">Pots</a></li>
                </ul>
            </div>

            <div>
                    <h5>INFORMATIONS</h5>
                    <ul>
                        <li><a href="accueil.html#infos">Contact</a></li>
                        <li><a href="#about">A propos de nous</a></li>
                        <li><a href="mailto:mail@gmail.com">mail@gmail.com</a></li>
                    </ul>
            </div>
    
            <div>
                    <h5>RESEAUX SOCIAUX</h5>
                    <ul>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Facebook</a></li>
        
                    </ul>
            </div>
        </div>
    
        <div class="footer-2">
            <ul>
                <li><a href="">CGV</a></li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Cookies</a></small></li>
            </ul>
            <small>Copyrights &copy; Mon site</small>
        </div>
    
                
    
    </footer>
    
    <script src={{ asset("js/script.js")}}></script>
    {% block script %}{% endblock %}


</body>
</html>